@import "@/styles/root_styles.scss";

$about_links-height: 160px;

.about-page {
	overflow: auto;
}
.about {
	height: 100%;
	display: flex;
	&_next-arrow {
		position: absolute;
		right: 10vmin;
		bottom: 40vmin;
		cursor: pointer;
		user-select: none;
		display: none;
	}
	&-links {
		display: flex;
		margin-left: 7vmin;
		margin-top: 30vmin;
		max-height: $about_links-height;
		.indicator-container {
			display: flex;
			flex-direction: column;
			width: 2px;
			height: 100%;
			background-color: #fff;
			&_indicator {
				width: 100%;
				height: $about_links-height / 4;
				&-active {
					background-color: $tella_green;
					height: $about_links-height / 4;
				}
			}
		}
		&_container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-left: 4vmin;
		}
		&_link {
			font-size: $font_link;
			color: #979696;
			&:first-child {
				margin-top: 0;
			}
			&:hover {
				cursor: pointer;
				color: #fff;
			}
		}
		.active-link {
			color: #fff;
		}
	}
	&_component {
		height: 100%;
		margin-left: 12vmin;
		&-title {
			max-width: 80vmin;
			h1 {
				margin-top: 3vmin;
				font-size: $font_title;
			}
			p {
				margin-top: 2vmin;
				font-size: $font_content;
			}
		}
		&-content {
			animation: fade 0.7s ease-in-out;
			h1 {
				margin-top: 5vmin;
				font-size: $font_content-title;
				font-weight: 500;
			}
		}
		&-text-container {
			margin-top: 20px;
			display: flex;
			// align-items: center;
			max-width: 75vmin;
			p {
				font-size: $font_content;
			}
			img {
				margin-left: 3vmin;
				max-width: 10vmin;
			}
		}
		&-todos {
			h2 {
				margin-top: 5vmin;
				font-size: $font_content-title;
				font-weight: 500;
			}
			.todos-container {
				margin-top: 4vmin;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 1.5vmin;
			}
			.todos-item {
				font-size: $font_content;
				margin-top: 2vmin;
				span {
					margin-right: 1vmin;
				}
			}
		}
	}
}

@mixin media_about($height) {
	.about {
		align-items: center;
		padding: 2vmin;
		&_next-arrow {
			display: block;
		}
		&-links {
			display: none;
		}
		&_component {
			margin-left: 5vmin;
			min-height: $height;
			&-text-container {
				margin-top: 2vmin;
				img {
					display: none;
				}
			}
			&-todos {
				.todos-container {
					margin-top: 4vmin;
					display: grid;
					grid-template-columns: 1fr;
				}
				.todos-item {
					margin-top: 1vmin;
					span {
						margin-right: 1vmin;
					}
				}
			}
		}
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	@include media_about(65vmax);
}

@media (min-width: 320px) and (max-width: 480px) {
	@include media_about(81vmax);
}
@media (min-width: 481px) and (max-width: 850px) and (orientation: landscape) {
	@include media_about(80vmax);
}